.block{
    background-color: black;
    opacity: .9;
    color: white;
    padding: 50px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    font-size: 1.5em;
    padding-bottom: 2%;
}

.space{
    padding: 4%;
}

body{
    background-color: cyan;
}